*{
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(54, 66, 66);
color:rgb(174, 196, 214)
}

.heading{
    position: absolute;
    left:350px;
    top:20px;
    color:rgb(228, 222, 145)
}
.form{
    position: absolute;
    left:370px;
    top:120px;
}
.form-item{
    position: relative;
    display: block;
    margin-bottom: 0px;
    font-weight: bold;
}

[type="text"],[type="email"],[type="password"]{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    color:black;
    background-color: aliceblue;
}

#button{
  position: relative;
  top:30px;
  padding: 10px 30px;
  border: none;
  color:white;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgb(19, 5, 5);
}